.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  background: rgba(255, 252, 246, 0.9); /* สีเดียวกับ Header */
  padding: 40px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
}

.login-card input {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.login-card button {
  padding: 12px;
  background: #FEEBC9; /* สีโทนเดียวกับไอคอน */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}